In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/02 10:30:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

**Q1**: Spark version ?

In [3]:
spark.version

'3.3.2'

In [5]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-02 10:30:50--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240302%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240302T103051Z&X-Amz-Expires=300&X-Amz-Signature=99a88e86852c8c8877500a530ca840b97823992d0a9ef7621da3fdd67f36583a&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-02 10:30:51--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240302%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240302T103051Z&X-Amz-Expires=300&X-Amz-Signature=99a88e86852c8c8877500a530ca840b97823992d0a9ef7621da3fdd67f36583a&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  98.1MB/s    in 0.2s

2024-03-02 10:30:51 (98.1 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [6]:
! gzip -d fhv_tripdata_2019-10.csv.gz

In [8]:
!ls

03_test.ipynb	      06_spark_sql_big_query.py  download_data.sh
04_pyspark.ipynb      07_groupby_join.ipynb	 fhv_tripdata_2019-10.csv
05_taxi_schema.ipynb  08_rdds.ipynb		 homework.ipynb
06_spark_sql.ipynb    09_spark_gcs.ipynb
06_spark_sql.py       cloud.md

In [9]:
!ls -lh fhv_tripdata_2019-10.csv

-rw-rw-r-- 1 ibrahim ibrahim 115M Dec  2  2022 fhv_tripdata_2019-10.csv

In [11]:
import pandas as pd
file_name = 'fhv_tripdata_2019-10.csv'
sample = pd.read_csv(file_name, nrows=10)
sample

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264,264,NaN,B00009
1,B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264,264,NaN,B00013
2,B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264,264,NaN,B00014
3,B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264,264,NaN,B00014
4,B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264,264,NaN,B00014
5,B00021,2019-10-01 00:00:48,2019-10-01 00:07:12,129,129,NaN,B00021
6,B00021,2019-10-01 00:47:23,2019-10-01 00:53:25,57,57,NaN,B00021
7,B00021,2019-10-01 00:10:06,2019-10-01 00:19:50,173,173,NaN,B00021
8,B00021,2019-10-01 00:51:37,2019-10-01 01:06:14,226,226,NaN,B00021
9,B00021,2019-10-01 00:28:23,2019-10-01 00:34:33,56,56,NaN,B00021

In [14]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropOff_datetime', types.TimestampType(), True),
    types.StructField('PUlocationID', types.IntegerType(), True),
    types.StructField('DOlocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [38]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv(file_name)

df = df.repartition(6)
df.write.parquet('data/pq/fhv/2019/10/', mode='overwrite')

**Q2**: FHV October 2019 partition size ?

In [39]:
! ls -lh data/pq/fhv/2019/10/

total 37M
-rw-r--r-- 1 ibrahim ibrahim    0 Mar  2 11:08 _SUCCESS
-rw-r--r-- 1 ibrahim ibrahim 6.2M Mar  2 11:08 part-00000-34d340a2-145b-4a81-9a28-543baaf38b46-c000.snappy.parquet
-rw-r--r-- 1 ibrahim ibrahim 6.2M Mar  2 11:08 part-00001-34d340a2-145b-4a81-9a28-543baaf38b46-c000.snappy.parquet
-rw-r--r-- 1 ibrahim ibrahim 6.2M Mar  2 11:08 part-00002-34d340a2-145b-4a81-9a28-543baaf38b46-c000.snappy.parquet
-rw-r--r-- 1 ibrahim ibrahim 6.2M Mar  2 11:08 part-00003-34d340a2-145b-4a81-9a28-543baaf38b46-c000.snappy.parquet
-rw-r--r-- 1 ibrahim ibrahim 6.2M Mar  2 11:08 part-00004-34d340a2-145b-4a81-9a28-543baaf38b46-c000.snappy.parquet
-rw-r--r-- 1 ibrahim ibrahim 6.2M Mar  2 11:08 part-00005-34d340a2-145b-4a81-9a28-543baaf38b46-c000.snappy.parquet

**Q3**: Count records on 15th of October ?

In [18]:
from pyspark.sql import functions as F

In [40]:
df = df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
 
df.filter("pickup_date = '2019-10-15'") \
    .count()

62610

**Q4**: The longest trip?

In [23]:
df.show(1)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_date|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
|              B00860|2019-10-07 09:14:27|2019-10-07 09:36:30|         264|         247|   null|                B00860| 2019-10-07|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
only showing top 1 row

In [41]:
df = df \
    .withColumn('trip_duration_in_seconds', df.dropOff_datetime.cast("long")-  df.pickup_datetime.cast("long")) \
    .withColumn('trip_duration_in_hours', (df.dropOff_datetime.cast("long")-  df.pickup_datetime.cast("long"))/3600)
df.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------------------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_date|trip_duration_in_seconds|trip_duration_in_hours|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------------------+----------------------+
|              B00860|2019-10-07 09:14:27|2019-10-07 09:36:30|         264|         247|   null|                B00860| 2019-10-07|                    1323|                0.3675|
|              B01016|2019-10-08 07:56:57|2019-10-08 07:59:04|         264|          76|   null|                B01016| 2019-10-08|                     127|  0.035277777777777776|
|              B02401|2019-10-04 14:09:41|2019-10-04 14:43:58|         264|         237|   null|                B02401| 2019-10-04|                    2057|    0.5713888888888888|
|              B03047|2019-10-08 14:29:11|2019-10-08 16:23:10|          86|         159|   null|                B03047| 2019-10-08|                    6839|    1.8997222222222223|
|              B02975|2019-10-01 13:33:35|2019-10-01 13:43:46|         264|          73|   null|                B02975| 2019-10-01|                     611|   0.16972222222222222|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------------------+----------------------+
only showing top 5 rows

In [46]:
daily_longest_trip = df \
    .groupBy('pickup_date') \
    .agg(F.max("trip_duration_in_hours").alias("longest_trip"))
daily_longest_trip.show(10)

+-----------+------------------+
|pickup_date|      longest_trip|
+-----------+------------------+
| 2019-10-05| 697.1808333333333|
| 2019-10-24| 242.1236111111111|
| 2019-10-01| 70128.02805555555|
| 2019-10-22|            289.22|
| 2019-10-04| 744.6166666666667|
| 2019-10-02| 769.2313888888889|
| 2019-10-08| 625.0822222222222|
| 2019-10-30|1464.5344444444445|
| 2019-10-14|482.03833333333336|
| 2019-10-21| 313.8233333333333|
+-----------+------------------+
only showing top 10 rows

In [50]:
daily_longest_trip \
    .orderBy(F.desc("longest_trip")) \
    .show(10)

+-----------+------------------+
|pickup_date|      longest_trip|
+-----------+------------------+
| 2019-10-28|          631152.5|
| 2019-10-11|          631152.5|
| 2019-10-31| 87672.44083333333|
| 2019-10-01| 70128.02805555555|
| 2019-10-17|            8794.0|
| 2019-10-26| 8784.166666666666|
| 2019-10-30|1464.5344444444445|
| 2019-10-25|1056.8266666666666|
| 2019-10-02| 769.2313888888889|
| 2019-10-23| 745.6166666666667|
+-----------+------------------+
only showing top 10 rows

**Q6**: Least frequent pickup location zone ?

In [52]:
! wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-02 11:25:19--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240302%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240302T112519Z&X-Amz-Expires=300&X-Amz-Signature=810a1a08ea0fa544e62782eabf4269a99fe937a298e05d5c456157a1fe3a5914&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-02 11:25:19--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240302%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240302T112519Z&X-Amz-Expires=300&X-Amz-Signature=810a1a08ea0fa544e62782eabf4269a99fe937a298e05d5c456157a1fe3a5914&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-02 11:25:19 (42.9 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [53]:
taxi_zone_lookup = "taxi_zone_lookup.csv"
df_zones =  spark.read \
    .option("header", "true") \
    .csv(taxi_zone_lookup)

In [54]:
df_zones.show(5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [55]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number',
 'pickup_date',
 'trip_duration_in_seconds',
 'trip_duration_in_hours']

In [57]:
df_zones.createOrReplaceTempView('zones')

In [59]:
df.createOrReplaceTempView('fhv_tripdata_2019_10')

In [57]:
spark.sql("""
SELECT
    CONCAT(pul.Zone, ' / ', dol.Zone) AS pu_do_pair,
    COUNT(1)
FROM 
    fhv_tripdata_2019_10 fhv LEFT JOIN zones pul ON fhv.PUlocationID = pul.LocationID
                      LEFT JOIN zones dol ON fhv.DOlocationID = dol.LocationID
GROUP BY 
    1
ORDER BY
    2 DESC
LIMIT 5;
""").show()

+--------------------+--------+
|          pu_do_pair|count(1)|
+--------------------+--------+
|East New York / E...|   45041|
|Borough Park / Bo...|   37329|
| Canarsie / Canarsie|   28026|
|Crown Heights Nor...|   25976|
|Bay Ridge / Bay R...|   17934|
+--------------------+--------+